[submodule "deps/imtui"]
	path = deps/imtui
	url = https://github.com/ggerganov/imtui.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
[submodule "deps/passgen"]
	path = deps/passgen
	url = https://gitlab.com/passgen/passgen-c.git
